dist/
*~
.DS_Store

*.sublime-workspace
/.vagrant
/chef/Cheffile.lock
/chef/cookbooks/apt/
/chef/cookbooks/build-essential/
/chef/cookbooks/nginx/
/chef/cookbooks/ohai/
/chef/cookbooks/riak/
/chef/tmp/
/chef/cookbooks/redis/
/server/Zippy/Riak/riak_pb/